// Main style file

// Bourbon && Neat

// Main app

@import "components/colors";
@import "components/grid";
@import "components/message";

.black {
  background-color: black !important;
}
* {
  -webkit-touch-callout: none;
  user-select: none;
}